{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "arrowParens": "always",
    "singleQuote": false,
    "trailingComma": "none",
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "ignore"
}
